In [15]:
!pip install bar_chart_race

!conda install -c conda-forge bar_chart_race

Requirement already satisfied: bar_chart_race in /usr/local/lib/python3.7/dist-packages (0.1.0)
Requirement already satisfied: matplotlib>=3.1 in /usr/local/lib/python3.7/dist-packages (from bar_chart_race) (3.2.2)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.7/dist-packages (from bar_chart_race) (1.1.5)
Requirement already satisfied: numpy>=1.11 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.1->bar_chart_race) (1.19.5)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.1->bar_chart_race) (2.4.7)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.1->bar_chart_race) (2.8.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.1->bar_chart_race) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.1->bar_chart_race) (1.3.2)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from cycler>=0.10->matplotlib>=3.1->bar_chart_race) (1.15.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->bar_chart_race) (2018.9)
/bin/bash: conda: command not found

In [16]:
import pandas as pd

data = pd.read_csv('/content/urban_pop.csv')

data = data.fillna(0)

data.head()

df = data.set_index('year')

df.head()

      United States      India      China  ...     Japan  Indonesia    Brazil
year                                       ...
1976      160611122  138219074  162497601  ...  85642808   26596457  67790415
1977      162256678  143699557  165293316  ...  86538157   28001978  70478354
1978      164005080  149379782  171153535  ...  87391419   29468690  73245834
1979      165847531  155285824  180399661  ...  88197927   30996679  76091693
1980      167551171  161444128  189947471  ...  88958689   32591870  79015954

[5 rows x 37 columns]

In [17]:
import bar_chart_race as bcr

bcr.bar_chart_race(df = df, filename='pop.mp4', title='Urban population by country', n_bars=10, cmap='prism',)